.body {
  background-color: #5cdb95;
  list-style-type: none;
}
.InfoText {
  background-color: #5cdb95;
}
li {
  color: #05386b;
  margin-bottom: 10px;
}
.body ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.link {
  text-decoration: none;
}

.DesignPosts {
  border: 1px solid #edf5e1;
  margin: 0px;
  padding: 0px;
}
.DesignPosts:hover {
  background-color: #8ee4af;
}
.PostCommentHeader {
  color: #05386b;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 72px;
  text-align: center;
  text-transform: uppercase;
}
.PostCommentStrong {
  color: #05386b;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 800;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
